/* for Body */
body {
	padding-top: 75px;
}
/* To apply no padding on element */
.nopadding {
	padding: 0px;
}

.test {
	text-align: center;
}

/* Styling footer*/
.footer {
	font-size: 0.75em;
	width: 100%;
	min-height: 10px;
	/* max-height: 300px; */
}

/* Styling Search Button */
#btn-search {
	padding: 3px;
}

/* removing the background of the right control of carousel*/
.carousel-control.right {
	right: 0;
	left: auto;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

/* removing the background of the left control of carousel*/
.carousel-control.left {
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',
		endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

/* reducing the background of carousel controls*/
.carousel-control {
	width: 5%;
}

/* Re-sizing image*/
.img-resize {
	display: block;
	padding-top:10px;
	max-height: 230px;
	max-width: 95px;
	width: auto;
	height: auto;
}

/* Styling the arrows of the carousel control*/
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	color: gray;
	font-size: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* setting up carousel control in middle*/
.fa-chevron-circle-left, .fa-chevron-circle-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
}

/* setting up the carousel left control at the edge*/
.fa-chevron-circle-left {
	left: -40%;
	margin-right: -10px;
}

/* setting up the carousel right control at the edge*/
.fa-chevron-circle-right {
	right: -45%;
	margin-left: -10px;
}

/* styling the title of the product*/
.thumbnail-setting {
	text-decoration:none;
	text-align: center;
	font-size: 14px;
}

/* styling anchor tag of the product title*/
.thumbnail-setting a {
	text-decoration:none;
	text-align: center;
	color: black;
	line-height: 14px;
}

/* styling anchor tag of the product title at hover*/
.thumbnail-setting a:hover {
	text-decoration: none;
	color: black;
}

/* styling the price of the product*/
.price {
	text-align: center;
}

/**/
.zoom:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}